/* some custom css for the example page */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://cdn.rawgit.com/IonicaBizau/bag.css/gh-pages/dist/bag.fixed.css);

body {
    font-family: 'Ubuntu', sans-serif;
    color: #2c3e50;
    background-color: #ecf0f1;
}

.bag.fixed {
    background-color: #fff;
}

section.title-section .col {
    padding: 10px;
}

section.title-section.text-center {
    text-align: center;
    padding: 4em;
}

h1.title {
    font-size: 5em;
    margin: 0;
    color: #3498db;
    text-shadow: 0 1px 2px #2980b9;
}

section.demo .row {
    margin: 1em;
    background-color: #3498db;
    padding: 7px;
}

section.demo .col {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

section.demo .col .content {
    background-color: #2c3e50;
    padding: 5px;
}

a {
    color: #3498DB;
    text-decoration: none;
}

.made-with-heart {
    padding-top: 20px;
}

a.btn {
    padding: 10px 0;
    background-color: #3498DB;
    color: #fff;
    width: 100%;
    box-shadow: 0 4px 5px rgba(44, 62, 80, 0.29);
    display: inline-block;
}

a.btn.btn-buy {
    background-color: #1abc9c;
}

a.btn:hover {
    background-color: #2C3E50;
}
